/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);


  --first-color: #17181a;
  --seconde-color: #ffeda8;
  --seconde-color-dark: #31343d;
  --third-color: #fdaf26;
  --four-color: #fdd329;
  --five-color: #FAFDF6;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--first-color);
  --color-background-soft: var(--first-color);
  --color-background-mute: var(--first-color);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--four-color);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--first-color);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--four-color);
  }
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

a{
  color: var(--color-text);
  margin: 10px;
}

input[type=text]{
  background-color: var(--seconde-color);
  border: none;
  border-radius: 50px;

  text-align: center;
  color: var(--vt-c-black-mute);

  height: 30px;
  width: 300px;
  margin: 10px;
  font-family: "myFirstFont";
}

input[type=button]{
  background-color: var(--seconde-color-dark);
  border: none;
  border-radius: 20px;

  text-align: center;
  color: var(--five-color);

  height: 30px;
  width: auto;
  margin: 10px;

  padding: 6px;

  font-family: "myFirstFont";
}

button{
  background-color: var(--seconde-color-dark);
  border: none;
  border-radius: 20px;

  text-align: center;
  color: var(--five-color);

  height: 30px;
  width: auto;
  margin: 10px;
  padding: 6px;

  font-family: "myFirstFont";
}

select{
  background-color: var(--seconde-color-dark);
  border: none;
  border-radius: 20px;

  text-align: center;
  color: var(--five-color);

  height: 30px;
  width: auto;
  margin: 10px;

  padding: 6px;

  font-family: "myFirstFont";
}

select option{
  font-family: "myFirstFont";
  color: var(--five-color);
}

input[type=number]{
  background-color: var(--seconde-color-dark);
  border: none;
  border-radius: 20px;

  text-align: center;
  color: var(--five-color);

  height: 30px;
  width: auto;
  margin: 10px;

  padding: 6px;

  font-family: "myFirstFont";
}

.disable{
  color: #fdd32996;
}